pkgbase = python-trove-classifiers
	pkgdesc = Canonical source for classifiers on PyPI (pypi.org)
	pkgver = 2023.11.7
	pkgrel = 1
	url = https://github.com/pypa/trove-classifiers
	arch = any
	license = Apache
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-calver
	makedepends = python-setuptools
	depends = python
	source = git+https://github.com/pypa/trove-classifiers.git#commit=29ca293b505bf2a07ef2df0320932fc38f55bddf
	sha512sums = SKIP

pkgname = python-trove-classifiers
