pkgbase = python-trove-classifiers
	pkgdesc = Canonical source for classifiers on PyPI (pypi.org)
	pkgver = 2024.1.8
	pkgrel = 1
	url = /pypa/trove-classifiers
	arch = any
	license = Apache
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-calver
	makedepends = python-setuptools
	depends = python
	source = git+/pypa/trove-classifiers.git#commit=e5c379567a6a5d67c5a2505d6429faca5b69fc45
	sha512sums = SKIP

pkgname = python-trove-classifiers
